<!-- Fourth -->
<section id="{{ site.contact.section_id }}" class="main">
    <header>
        <div class="container">
            <h2>{{ site.contact.title }}</h2>
            {{ site.contact.subtitle | markdownify }}
        </div>
    </header>
    <div class="content style4 featured">
        <div class="container medium">
            <form method="post" action="#">
                <div class="row gtr-50">
                    <div class="col-6 col-12-mobile"><input type="text" placeholder="Name" /></div>
                    <div class="col-6 col-12-mobile"><input type="text" placeholder="Email" /></div>
                    <div class="col-12"><textarea name="message" placeholder="Message"></textarea></div>
                    <div class="col-12">
                        <ul class="actions special">
                            <li><input type="submit" class="button" value="Send Message" /></li>
                            <li><input type="reset" class="button alt" value="Clear Form" /></li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
